.comments {
  margin: 0;
  max-width: 1318px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: start;
}

@media screen and (max-width: 1024px) {
  .comments {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 780px) {
  .comments {
    margin: 30px auto;
  }
  .comments:first-child {
    margin-top: 30px;
  }
}
