.calendar-title {
  font-family: 'ProtoGrotesk', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 74px;
  line-height: 1.08;
  text-align: center;
  padding-bottom: 40px;
  margin: 0 auto;
}

@media screen and (max-width: 1366px) {
  /* стили для для экранов с разрешением 1366px по ширине и меньше */
  .calendar-title {
    font-size: 37px;
    line-height: 1.05px;
    padding-top: 10px;
  }
}
