.card-with-picture__title {
  margin: 15px auto 0;
  font-family: 'ProtoGrotesk', Arial, Helvetica, serif;
  font-weight: 300;
  font-size: 23px;
  line-height: 30px;
  text-align: center;
  color: var(--color-default-text);
  display: flex;
  align-self: stretch;
}
