.card-with-picture__link {
  font-family: ProtoGrotesk;
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #224CFF;
  text-decoration: none;
  margin-top: 15px;
  transition: color 0.2s;
}

.card-with-picture__link:hover {
  color: var(--color-dark);
}
