.comment__tag {
  font-family: 'PTRootUI', Arial, Helvetica, sans-serif;
  font-size: 10px;
  line-height: 0.8;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--color-dark-gray);

  margin: 15px 0 0;
  padding: 2px 7px;
  width: 65px;
  background: var(--color-background);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
