.place__paragraph {
  margin-top: 0;
  margin-bottom: 5px;

  font-weight: 400;
  font-size: 18;
  line-height: 1.44;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1439px) {
  .place__paragraph {
    font-size: 15px;
    line-height: 1.4;
  }
}
