.about__option-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-row-start: 2;
  background-color: var(--color-default-background);
  border-radius: 30px;
  padding: 30px;
}

@media screen and (max-width: 1366px) {
  /* стили для для экранов с разрешением 1366px по ширине и меньше */
  .about__option-content {
    grid-row-start: inherit;
    padding: 30px 15px;
    margin-bottom: 30px;
  }
}
