.about {
  margin: 0 30px 0 0;
  padding: 0;
  max-width: 870px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 30px;
  background-color: var(--color-green);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  cursor: pointer;
  text-decoration: none;
}

@media screen and (max-width: 1440px) {
  .about {

  }
}

@media screen and (max-width: 1024px) {
  .about {
    max-width: 370px;
    max-height: 382px;
  }
}

@media screen and (max-width: 320px) {
  .about {
    margin-bottom: 30px;
    max-width: 290px;
    max-height: 333px;
  }
}
