.about__text-container {

  width: 100%;
  height: 364px;
  background: url("../images/rectangle-text-container.svg") no-repeat;
  border-radius: 400px;
  display: flex;
  overflow: hidden;
}

@media screen and (max-width: 1440px) {
  .about__text-container {
    background: #FF8585;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
  }
}

@media screen and (max-width: 1024px) {
  .about__text-container {

  }
}

@media screen and (max-width: 320px) {
  .about__text-container {

  }
}
