.about__circle {
  min-width: 570px;
  min-height: 570px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  background-color: var(--color-yellow);
  font-family: 'ProtoGrotesk', Arial, Helvetica, serif;
  font-weight: 300;
  font-size: 23px;
  line-height: 30px;
}
