.about__text {
  margin: 122px auto;
  max-width: 570px;
  font-family: 'ProtoGrotesk', Arial, Helvetica, serif;
  font-weight: 300;
  font-size: 23px;
  line-height: 30px;
  text-align: center;
  color: var(--color-default-text);
}

@media screen and (max-width: 1024px) {
  .about__text {
    padding: 15px;
    margin: 30px auto;
    font-size: 19px;
    line-height: 23px
  }
}
