.about__logo-container {
  margin: 0;
  width: 100%;
  min-height: 156px;
  background: url("../images/about-logo-container.svg") no-repeat;
  border-radius: 3px 3px 200px 30px;
}

@media screen and (max-width: 1440px) {
  .about__logo-container {
    max-width: 395px;
    min-height: 124px;
  }
}

@media screen and (max-width: 1024px) {
  .about__logo-container {
    max-width: 267px;
    min-height: 90px;
  }
}

@media screen and (max-width: 320px) {
  .about__logo-container {
    max-width: 229px;
    min-height: 78px;
  }
}


