.article {
  margin: 0;
  padding: 120px 0 0;
  width: 100%;
  height: 490px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 30px;
  background-color: var(--color-light-blue);
}

@media screen and (max-width: 1440px) {
  .article {
    max-width: 1170px;
  }
}
