.calendar__note {
  margin: 0;
  font-family: 'PT Root UI', Arial, Helvetica, serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: var(--color-dark-gray);
}

@media screen and (max-width: 1024px) {
  .calendar__note {
    font-size: 12px;
    line-height: 17px;
  }
}
