.calendar__save-button {
  padding: 13px;
  letter-spacing: 0.2px;
  font-weight: 300;
  border: 1px #224CFF solid;
  background-color: var(--color-default-background);
  color: var(--color-blue);
  font-size: 15px;
  border-radius: 100px;
  font-family: 'ProtoGrotesk', Arial, Helvetica, serif;
}
