.calendar__date_month-and-week {
  margin: 0;
  font-family: 'PTRootUI', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: var(--color-default-text);
}

@media screen and (max-width: 320px) {
  .calendar__date_month-and-week {
    font-size: 12px;
    line-height: 17px;
  }
}
