.calendar__date_number {
  margin: 0;
  font-family: 'ProtoGrotesk', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 100px;
  line-height: 1;
  letter-spacing: -2px;
  color: var(--color-default-text);
}

@media screen and (max-width: 1024px) {
  .calendar__date_number {
    font-size: 60px;
    line-height: 60px;
  }
}
