.calendars-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 120px;
}

@media screen and (max-width: 1919px) {
  /* стили для для экранов с разрешением 1919px по ширине и меньше */
  .calendars-block {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 375px) {
  /* стили для для экранов с разрешением 375px по ширине и меньше */
  .calendars-block {
    grid-template-columns: repeat(1, 1fr);
  }
}
