.card-with-picture__image {
  max-width: 1125px;
  width: 100%;
  border-radius: 15px;
  margin-top: 70px;
  object-fit: cover;
}

@media screen and (max-width: 1440px) {
  .card-with-picture__image {
    max-height: 394px;
  }
}

@media screen and (max-width: 1024px) {
  .card-with-picture__image {
    max-height: 346px;
  }
}

@media screen and (max-width: 320px) {
  .card-with-picture__image {
    max-width: 260px;
    max-height: 174px;
  }
}
