.card-with-picture {
  margin: 0;
  padding: 15px 30px 30px;
  max-width: 1185px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--color-yellow);
  border-radius: 30px;
  position: relative;
}

@media screen and (max-width: 1440px) {
  .card-with-picture {
    max-width: 585px;
  }
}

@media screen and (max-width: 1024px) {
  .card-with-picture {
    max-width: 770px;
  }
}

@media screen and (max-width: 320px) {
  .card-with-picture {
    max-width: 290px;
  }
}
