.comment__contain-tag {
  margin: 15px 0 0;
  padding: 2px 7px;
  width: 65px;
  text-align: center;
  background: var(--color-background);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
