.comment {
  margin-bottom: 30px;
  padding: 50px 50px 47px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 30px;
  background-color: var(--color-default-background);
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: start;
}

.comment:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1440px) {
  .comment {
    max-width: 770px;
    max-height: 189px;
  }
}
