.comment__text {
  margin: 0;
  max-width: 770px;
  width: 100%;
  font-family: 'ProtoGrotesk', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 23px;
  line-height: 30px;
  color: var(--color-default-text);
}

@media screen and (max-width: 1024px) {
  .comment__text {
    max-width: 260px;
    font-size: 17px;
    line-height: 23px;
  }
}

@media screen and (max-width: 320px) {
  .comment__text {
    font-size: 19px;
    line-height: 23px;
  }
}
