.description-preview {
  margin:0;
  padding: 47px 30px 30px;
  max-width: 585px;
  width: 100%;
  height: 629px;
  box-sizing: border-box;
  border-radius: 30px;
  background-color: var(--color-default-background);
  display: flex;
  flex-direction: column;
  align-content: start;
  align-items: flex-start;
  justify-content: space-between;
}

@media screen and (max-width: 1440px) {
  .description-preview {
    max-width: 585px;
    max-height: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .description-preview {
    padding: 30px 15px 30px;
    max-width: 770px;
    height: 188px;
  }
}

@media screen and (max-width: 320px) {
  .description-preview {
    margin-bottom: 30px;
    max-width: 290px;
  }
}
