.events__container {
  display: flex;
  gap: 30px;

  padding: 0;
  margin-top: 0;
  margin-bottom: 50px;
  width: 100%;
  min-height: 20px;

  list-style: none;
  border-bottom: solid 0.5px var(--color-dark-gray);
}

@media screen and (max-width: 1439px) {
  .events__container {
    overflow: hidden;
    margin-bottom: 20px;
  }
}
