.footer__link {
  position: relative;
}

.footer__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 1px;

  background-color: var(--color-background);
}
