.form-place__photo-add-btn-label {
  position: absolute;
  top: 115px;
  transform: translateX(-50%);

  font-family: 'ProtoGrotesk', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.27;
  color: var(--color-light-gray);
}
