.header__logo {
  width: 183px;
  height: 30px;

  background-image: url(../images/icons/header-logo.svg);
  background-size: cover;
}

@media screen and (max-width: 1439px) {
  .header__logo {
    grid-column: 2/3;
  }
}
