.history {
  position: relative;
  margin: 0;
  padding: 0;
  max-width: 870px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-image: url("../images/history-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

@media screen and (max-width: 1440px) {
  .history {
    max-width: 570px;
    background-size: cover;
    object-fit: contain;
  }
}

@media screen and (max-width: 1024px) {
  .history {
    max-width: 370px;
    height: 382px;
  }
}

@media screen and (max-width: 320px) {
  .history {
    max-width: 290px;
    max-height: 290px;
  }
}
