.main-information-stories-net {
  margin: 0;
  padding: 0 0 30px;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1024px) {
  .main-information-stories-net {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
