.main-information-net {
  margin: 0;
  padding: 0 0 30px;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1023px) {
  .main-information-net {
    margin: 0 auto;
    flex-direction: column;
  }
}
