.menu__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1439px) {
  .menu__container {
    display: none;
    position: absolute;
    top: 49px;
    left: 0;

    box-sizing: border-box;
    padding: 35px 0 50px;
    width: 100%;

    background-color: var(--color-background);
    border-radius: 0 0 30px 30px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  }

  .menu__container_opened {
    display: flex;
    align-items: flex-start;
  }
}
