.month-selector__element {
  border-radius: 24px;
  border: 1px solid #000000;
  text-align: center;
  padding: 13px 20px;
  font-family: 'ProtoGrotesk', Arial, Helvetica, serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.27;
  letter-spacing: 0.2px;
}

@media screen and (max-width: 1366px) {
  /* стили для для экранов с разрешением 1366px по ширине и меньше */
  .month-selector__element {
    width: 73px;
    height: 30px;
    font-size: 12px;
    line-height: 1.42;
    padding-top: 10px;
  }
}
