.places__add-btn-label {
  position: absolute;
  left: 63px;
  top: 50%;
  transform: translateY(-50%);

  width: max-content;
  font-family: 'ProtoGrotesk', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.27;
  color: var(--color-blue);
}

@media screen and (max-width: 1439px) {
  .places__add-btn-label {
    font-size: 12px;
    line-height: 1.42;

    left: 55px;
  }
}
