.place__info {
  display: grid;
  grid-template-columns: 11fr 2fr;
  grid-template-rows: auto min-content;

  box-sizing: border-box;
  padding: 30px;
  background-color: var(--color-default-background);
  border-radius: 30px;
}

@media screen and (max-width: 1439px) {
  .place__info {
    grid-template-columns: 1fr;
    padding: 30px 15px;
  }
}
