.place__assessment-emoji-label {
  font-size: 14px;
  line-height: 1.36;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.place__assessment-emoji-label_type_positive {
  color: var(--color-green);
}

.place__assessment-emoji-label_type_neutral {
  color: var(--color-dark-gray);
}

.place__assessment-emoji-label_type_negative {
  color: var(--color-orange);
}

@media screen and (max-width: 1439px) {
  .place__assessment-emoji-label {
    font-size: 12px;
    line-height: 1.42;
  }
}
