.scrolling-element {
  width: 100%;
  overflow-y: scroll;
}

.scrolling-element::-webkit-scrollbar {
  width: 5px;
}

.scrolling-element::-webkit-scrollbar-thumb {
  position: relative;
  top: 0;
  right: 7px;
  width: 5px;
  background-color: var(--color-scroll);
  border-radius: 5px;
}

.scrolling-element::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-light-gray);
}
