.tag {
  padding: 2px 7px;

  font-weight: 400;
  font-size: 10px;
  line-height: 1.3;
  letter-spacing: 1px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  text-transform: uppercase;
  color: var(--color-dark-gray);
}
