@media screen and (max-width: 1440px) {
  .trailer_no-matter:nth-child(1) {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .trailer_no-matter:nth-child(2) {
    display: none;
  }
}

@media screen and (min-width: 320px) {
  .trailer_no-matter:nth-child(3) {
    display: none;
  }
}
