.header {
  position: absolute;
  top: 0;
  left: 0;

  box-sizing: border-box;
  padding-top: 40px;
  padding-bottom: 80px;
  width: 100%;

  background-color: var(--color-background);
}

.header_fixed {
  position: fixed;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}
