.month-selector__element_active {
  width: 104px;
  background-color: #000;
  color: #FFF;
}

@media screen and (max-width: 1366px) {
  /* стили для для экранов с разрешением 1366px по ширине и меньше */
  .month-selector__element {
    width: 82px;
  }
}
