.sub-menu__list {
  box-sizing: border-box;
  padding: 20px;
  margin: 0;
  width: 100%;

  list-style: none;
  border-radius: 0px 0px 30px 30px;
  background-color: var(--color-background);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}
