.article__text {
  max-width: 970px;
  font-family: 'PT Root UI', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 44px;
  /*line-height: 50px;*/
  text-align: center;
  color: var(--color-default-text);
}
