.description-preview {
  margin:0;
  padding: 47px 30px 30px;
  max-width: 585px;
  width: 100%;
  max-height: 629px;
  box-sizing: border-box;
  border-radius: 30px;
  background-color: var(--color-default-background);
  display: flex;
  flex-direction: column;
  align-content: start;
  align-items: flex-start;
  justify-content: space-between;
}
