.description-preview {
  margin:0;
  padding: 30px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 30px;
  background-color: var(--color-default-background);
  display: flex;
  flex-direction: column;
  align-content: start;
  align-items: flex-start;
  justify-content: space-between;
}
