.trailer__film-info {
  margin-top: 0;
  margin-bottom: 17px;

  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.2px;
  color: var(--color-dark-gray);
}
