.comment__tag {
  font-family: 'PTRootUI', Arial, Helvetica, serif;
  font-size: 10px;
  line-height: 0.8;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--color-dark-gray);
}
