.footer__content {
  display: flex;
  justify-content: center;

  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (max-width: 1919px) {
  .footer__content {
    max-width: calc(100% - 136px*2);
  }
}

@media screen and (max-width: 1439px) {
  .footer__content {
    max-width: calc(100% - 128px*2);
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 1023px) {
  .footer__content {
    max-width: calc(100% - 15px*2);
  }
}
