.footer__content {
  display: grid;
  grid-template-areas:
    "logo button menu socials"
    "labels labels menu socials";
  justify-content: center;
  grid-template-rows: 76px auto;

  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (max-width: 1919px) {
  .footer__content {
    max-width: calc(100% - 136px*2);
  }
}

@media screen and (max-width: 1439px) {
  .footer__content {
    max-width: calc(100% - 128px*2);
    grid-template-areas:
      "logo"
      "menu"
      "socials"
      "button"
      "labels";
    grid-template-rows: auto;
    justify-content: normal;
  }
}

@media screen and (max-width: 1023px) {
  .footer__content {
    max-width: calc(100% - 15px*2);
  }
}
