.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-right: 132px;
}

@media screen and (max-width: 1439px) {
  .footer__info {
    margin-right: 0;
  }
}
