.annotation__button {
  position: absolute;
  top: 29px;
  right: 7px;

  padding: 0;
  margin: 0;
  width: 3px;
  height: 29px;
  cursor: pointer;
  background-color: var(--color-button);
  border: none;
  border-radius: 5px;
}
